services:
    s3Sync: \Api\Storage\S3Sync(%workspaceS3%)
    workspace: \Api\Workspace(%workspacePath%, @s3Sync)
    tokenAuthenticator: \Api\Auth\TokenAuthenticator(%apiKey%, @workspace)
    authenticatorFactory:
        class: \Api\Auth\AuthenticatorFactory()
        setup:
            - register(@tokenAuthenticator)

    - \Api\Middlewares\AuthMiddleware(@authenticatorFactory)

    - \Api\Endpoints\Export
    - \Api\Endpoints\Files
    - \Api\Endpoints\History
    - \Api\Endpoints\Query

    - \Api\Schemas\DownloadFile
