parameters:
    rootDir: ./..
    logDir: %rootDir%/logs
    wwwDir: %rootDir%/public
    apiUsername: ::getenv(API_USER)
    apiPasswordHash: ::getenv(API_PASSWORD_HASH)
    workspace:
        rootPath: %rootDir%/workspace
        readonly: false


includes:
    - s3.neon
    - services.neon
