parameters:
    rootDir: ./..
    wwwDir: %rootDir%/public
    apiKey: ::getenv(API_TOKEN)
    apiUsername: ::getenv(API_USER)
    apiPasswordHash: ::getenv(API_PASSWORD_HASH)
    workspacePath: %rootDir%/workspace


includes:
    - s3.neon
    - services.neon
