parameters:
    workspaceS3:
        enabled: ::getenv(S3_ENABLED)
        bucket: ::getenv(S3_BUCKET)
        region: ::getenv(S3_REGION)
        version: "latest"
        key: ::getenv(S3_ACCESS_KEY)
        secret: ::getenv(S3_SECRET_KEY)
        endpoint: ::getenv(S3_ENDPOINT)
