services:
    S3SyncFactory: \Api\Storage\S3SyncFactory(%workspaceS3%)
    workspace: \Api\Workspace(%workspacePath%, @S3SyncFactory::create())
    tokenAuthenticator: \Api\Auth\TokenAuthenticator(%apiKey%, @workspace)
    authenticatorFactory:
        class: \Api\Auth\AuthenticatorFactory()
        setup:
            - register(@tokenAuthenticator)

    - \Api\Middlewares\AuthMiddleware(@authenticatorFactory)

    - \Api\Endpoints\Export
    - \Api\Endpoints\Files
    - \Api\Endpoints\History
    - \Api\Endpoints\Query

    - \Api\Schemas\DownloadFile
